# Python Einführung
## Basics
Das ist eine Markdown-Zelle für Kommentare. Woop.
- eins
- zwei
- drrrrei

In [1]:
print("Hello World!")

Hello World!

# mit Kommentare

In [4]:
# Das ist mein erstes Skript.
print("Hello World!")

Hello World!

## Einfache Datentypen

In [5]:
# Variablen und Wertzuweisungen (Value-Assignment)
# String = Zeichenkette
name = "Hawking"
print(name)

Hawking

In [6]:
# Integer = Ganzzahl
age = 76
print(age)

76

#### bunte Buchstaben = Syntax Highlighting

In [7]:
# Float = Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [9]:
# Boolean = boolsche Werte ; können entweder wahr oder falsch sein
is_scientist = True
print(is_scientist)

True

### Datentypen sind wichtig, weil manche Funktionen bestimmte Datentypen verlangen

In [10]:
# Datentyp ausgeben 
type(name)

str

In [11]:
print(name)
print(age)

Hawking
76

## Operatoren

In [15]:
# addieren
5 + 5

10

In [13]:
# multiplizieren
age * 100

7600

In [16]:
# Strings und Integer gehen nicht zusammen
name + "10"

'Hawking10'

In [17]:
type(size)

float

In [18]:
type(age)

int

In [19]:
size / age

0.022530263157894737

In [20]:
# integer und floats gehen zusammen!
type(size)
type(age)
size/age

0.022530263157894737

In [24]:
number_of_articles = "50"

In [25]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [26]:
# Variabel in Integer umändern
int(number_of_articles) / 10

5.0

### Funktionen müssen ausgeführt werden, bevor sie gültig sind

In [27]:
# % sind jupyter notebook-spezifische Funktionen
%who

age	 is_scientist	 name	 number_of_articles	 number_of_artikels	 size

### Cell -> Run all führt alle Zellen aus

In [29]:
zahl  = "10"
int(zahl)
type(zahl)

str

In [30]:
zahl = "10"
print(int(zahl)+33)

43

In [33]:
# Überschreiben
zahl = int(zahl)
print(zahl)
type(zahl)

10

int

## Funktionen und Methoden

In [35]:
# Länge, zB Anzahl der Buchstaben
len(name)

7

In [38]:
# Methode sind besondere Funktionen, die an Objekte gebunden sind 
name.upper()

'HAWKING'

In [39]:
#Variable wurde nicht geändert
name

'Hawking'

In [40]:
# Dauerhaft geändert nur durch neue Zuweisung
name = name.upper()
print(name)

HAWKING

In [41]:
first_name = "Anna"

In [42]:
first_name.count("A")

1

In [43]:
# Strings verketten
first_name + " " + name

'Anna HAWKING'

## Listen und Dictionaries
### Listen

In [47]:
names = ["Lamarr", "Darwin", "Lovelace"]

In [53]:
# erstes Element ist einschließlich, zweites Element ist ausschließlich
names[0:2]

['Lamarr', 'Darwin']

In [51]:
len(names)

3

In [52]:
# letztes Element einer Liste
names[-1]

'Lovelace'

In [54]:
# alle Elemente bis zum ausschließlich zweiten Element
names[:2]

['Lamarr', 'Darwin']

In [55]:
slice_value = 2

In [62]:
names[slice_value]

'Lovelace'

In [57]:
# ab Position 1 bis zum Ende
names[1:]

['Darwin', 'Lovelace']

In [58]:
names[:slice_value]

['Lamarr', 'Darwin']

In [60]:
names[slice_value:]

['Lovelace']

### Dictionaries

In [65]:
# Dictionaries
names_and_ages = {"Lamarr": 86, "Darwin": 73, "Lovelace": 36}

In [66]:
# Werte in Dictionaries werden über den Namen des Schlüssels addressiert
names_and_ages["Darwin"]

73

### Dictionaries können verschiedene Datensets miteinander verknüpfen

In [67]:
# Listen und Dictionaries können als Werte selbst auch Listen und Dictionaries haben

In [68]:
names_and_ages = {"Lamarr": 86, "Darwin": 73, "Lovelace": 36, "Übersicht": names}

In [69]:
names_and_ages["Übersicht"]

['Lamarr', 'Darwin', 'Lovelace']

In [71]:
#Daten ans Ende der Liste hinzufügen
names.append("Rowling")

In [72]:
names

['Lamarr', 'Darwin', 'Lovelace', 'Rowling']

In [73]:
names_and_ages["Rowling"] = 53

In [74]:
names_and_ages

{'Lamarr': 86,
 'Darwin': 73,
 'Lovelace': 36,
 'Übersicht': ['Lamarr', 'Darwin', 'Lovelace', 'Rowling'],
 'Rowling': 53}

In [80]:
# Element aus Liste entfernen
names.remove("Rowling")

ValueError: list.remove(x): x not in list

In [81]:
names

['Lamarr', 'Darwin', 'Lovelace']

In [ ]:
# Alternative: del(names[0]) entfernt spezifische Listenelemente

### Container und Listen können als Orte für Schleifchen genutzt werden

In [82]:
# for-Schleife
for name in names:
    # Aktionsblock wird durch TAB gesetzt
    print(name)

Lamarr
Darwin
Lovelace

In [83]:
for name in names:
    print(name + " is a great name")

Lamarr is a great name
Darwin is a great name
Lovelace is a great name

### Conditionals

In [84]:
temp = 20
if temp > 15:
    print("Hot!")

Hot!

In [85]:
20 > 15

True

In [87]:
temp = 10
if temp >= 15:
    print("Hot!")
else: 
    print("Cool!")

Cool!

In [92]:
temp = 30
if temp >= 25:
    print("Super hot!")
# else if
elif temp >= 15:
    print("Hot!")
else: 
    print("Cool!")

Super hot!